/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  background: url("/images/cover-image-dark.png") no-repeat fixed center center;
  background-size: cover;
  grid-template-columns: 10px 355px 10px;
  row-gap: 40px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  @media (prefers-color-scheme: light) {
    background: url("/images/cover-image-light.png") no-repeat fixed center center;
    background-size: cover;
  }
}

.header {
  grid-area: header;
  display: grid;
  grid-template-rows: 10px 26px 40px 98px 65px 192px 55px 117px 66px;
  grid-template-areas:
    "."
    "rec"
    "."
    "toggle-menu"
     "."
    "title"
     "."
    "article-title"
    "."
}

.position-for-rec {
  grid-area: rec;
  justify-self: end;
  display: flex;
}

.red-border-upper-right {
  width: 25px;
  height: 25px;
  box-shadow: 1px -1px 0 var(--accent-color);
  justify-self: end;
}

.red-border-footer {
  grid-area: red-border-down;
  width: 25px;
  height: 25px;
  box-shadow: -1px 1px 0 var(--accent-color);
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  height: 26px;
  width: 70px;
}

.header__theme-menu-button:default {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-hover-color);
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none
}

.header__theme-menu {
  grid-area: toggle-menu;
  justify-self: end;
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  text-align: center;
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.main {
  grid-area: main;
  display: grid;
  row-gap: 50px;
  grid-template-areas:
    "first-section"
    "second-section"
    "third-section"
    "fourth-section";
}

.section-rows {
  display: grid;
  row-gap: 20px;
  grid-template-areas:
    "section-title"
    "article1"
    "article2"
    "article3"
}

.first-section.section-rows {
  grid-template-areas:
    "section-title"
    "article1"
    "article2"
}

.third-section.section-rows {
  grid-template-areas:
    "section-title"
    "article1"
}

.article-rows {
  grid-area: article-rows;
  display: grid;
  row-gap: 10px;
  grid-template-areas:
    "article-title"
    "article-text"
}

.main-article-title {
  grid-area: main-article-title;
}

.main-article-rows {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.image-rows {
  display: grid;
  row-gap: 10px;
}

.article1 {
  grid-area: article1;
}

.article2 {
  grid-area: article2;
}

.article3 {
  grid-area: article3;
}

.first-section {
  grid-area: first-section;
}

.second-section {
  grid-area: second-section;
}

.third-section {
  grid-area: third-section;
}

.fourth-section {
  grid-area: fourth-section;
}

.about__logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-title {
  grid-area: article-title;
}

.article-text {
  grid-area: article-text;
}

.plain-text-style {
  color: var(--plain-text-color);
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.font-rec {
  color: var(--accent-color);
  text-align: center;
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.font-style_dark {
  font-family: 'IBM Plex Mono', serif;
  color: var(--accent-color);
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.article-title-style {
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.mini-article-style {
  color: #000028;
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.black-text-red-back {
  color: #000028;
  background: var(--accent-color);
}

.red-text {
  grid-area: section-title;
  color: var(--accent-color);
}

.block-of-text {
  display: block;
}

.title-style {
  grid-area: title;
  font-family: 'IBM Plex Mono', serif;
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  color: var(--title-style-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  display: flex;
  align-items: center;
}

.red-border-upper {
  grid-area: red-border-upper;
}

.text-shadow-footer {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  display: grid;
  grid-area: footer;
  grid-template-rows: 10px 25px 251px 96px 250px 25px 10px;
  grid-template-areas:
  "."
  "red-border-upper"
  "."
  "title"
  "."
  "red-border-down"
  "."
}

@media (min-width: 768px) {
  .page {
    grid-template-columns: 20px 728px 20px;
    row-gap: 60px;
  }

  .title-style {
    font-size: 120px;
  }

  .header {
    grid-template-rows: 20px 26px 146px 98px 173px 99px 162px 117px 183px;
  }

  .header .title-style {
    margin-left: -20px;
  }

  .fixed-width-article {
    width: 364px;
    justify-self: end;
  }

  .main {
    row-gap: 80px;
  }

  .section-rows {
    grid-template-columns: 236px 472px;
    column-gap: 20px;
    grid-template-areas:
    "section-title article1"
    ".             article2"
    ".             article3"
  }

  .first-section.section-rows {
    grid-template-areas:
    "section-title article1"
    ".             article2"
  }

  .second-section.section-rows {
    grid-template-areas:
    "section-title ."
    "article1 article1"
    "article2 article2"
    "article3 article3"
  }

  .third-section.section-rows {
    grid-template-areas:
    "section-title article1"
  }

  .image-title {
    grid-area: image-title;
  }

  .first-image {
    grid-area: first-image;
  }

  .second-image {
    grid-area: second-image;
  }

  .third-image {
    grid-area: third-image;
  }

  .fourth-image {
    grid-area: fourth-image;
  }

  .fifth-image {
    grid-area: fifth-image;
  }

  .image-rows {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23px 260px 315px 433px;
    grid-template-areas:
    "image-title image-title image-title"
    "first-image first-image second-image"
    "third-image fourth-image second-image"
    "third-image fifth-image  fifth-image"
  }

  .footer {
    grid-template-rows: 20px 25px 418px 99px 417px 25px 20px;
  }

  .footer .title-style {
    justify-self: center;
  }
}

@media (min-width: 1024px) {
  .page {
    grid-template-columns: 20px 984px 20px;
  }

  .title-style {
    font-size: 157px;
  }

  .header {
    grid-template-rows: 20px 26px 273px 130px 114px 71px 89px 25px 20px;
    grid-template-areas:
    "."
    "rec"
    "toggle-menu"
    "title"
    "."
    "article-title"
    "."
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: -25px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .fixed-width-article {
    width: 491px;
  }

  .section-rows {
    grid-template-columns: 315px 649px;
  }

  .second-section.section-rows {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "section-title . ."
    "article1 article2 article3"
  }

  .article-rows {
    display: flex;
    flex-direction: column;
  }

  .footer {
    grid-template-rows: 20px 25px 274px 130px 274px 25px 20px;
  }
}