/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  grid-template-columns: 10px 355px 10px;
  row-gap: 50px;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer ."
}

*:focus {
  outline: none;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "rec"
    "toggle-menu"
    "title"
    "article-title"
}

.position-for-rec {
  grid-area: rec;
  justify-self: end;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:default {
  outline: 1px solid #FF0070;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus{
  box-shadow: 0 1px 0 #FF0070;
}

.header__theme-menu {
  grid-area: toggle-menu;
  justify-self: end;
  display: flex;
  flex-direction: column;
  color: #FF0070;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.position-for-rec::after {
  content: '';
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}

.main {
  grid-area: main;
  display: grid;
  row-gap: 50px;
  grid-template-areas:
    "first-section"
    "second-section"
    "third-section"
    "fourth-section";
}

.section-rows {
  display: grid;
  row-gap: 20px;
  grid-template-areas:
    "section-title"
    "article1"
    "article2"
    "article3"
}

.article-rows{
  display: grid;
  row-gap: 10px;
  grid-template-areas:
    "article-title"
    "article-text"
}

.article1{
  grid-area: article1;
}

.article2{
  grid-area: article2;
}

.article3{
  grid-area: article3;
}

.first-section{
  grid-area: first-section;
}

.second-section{
  grid-area: second-section;
}

.third-section{
  grid-area: third-section;
}

.fourth-section{
  grid-area: fourth-section;
}

.about__logo-image{
  max-width: 100%;
}

.article-title{
  grid-area: article-title;
}

.article-text {
  grid-area: article-text;
}

.margin-bot-plus-ten{
  margin-bottom: 10px;
}

.plain-text-style{
  color: #F1B2CE;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.font-rec{
  color: #FF0070;
  text-align: center;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.font-style_dark {
  font-family: 'IBM Plex Mono', serif;
  color: #FF0070;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.article-title-style{
  font-family: 'IBM Plex Mono', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.mini-article-style {
  color: #000028;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.black-text-red-back {
  color: #000028;
  background: #FF0070;
}

.red-text {
  grid-area: section-title;
  color: #FF0070;
}

.block-of-text {
  display: block;
}

.title-style {
  grid-area: title;
  font-family: IBM Plex Mono, serif;
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  width: 355px;
  height: 192px;
}

.footer {
  grid-area: footer;
}

/*@media (min-width: 1024px) {*/
/*  .first-section {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(6, 1fr);*/
/*    grid-template-rows: repeat(5, 1fr);*/
/*    grid-template-areas:*/
/*    "content       content       image         title        title    title"*/
/*    "image       image       image         price        rating   rating"*/
/*    "content    content    features      price        payment  payment"*/
/*    "description description description   description  reviews  reviews  "*/
/*    "shipping    contact     availability  availability warranty sizes"*/
/*    "material    material    related       related      related  related";*/
/*  }*/
/*}*/